@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background: #F8FAFC;
}

* {
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;

  color: #0F172A;
}

.mobile-table-scroll::-webkit-scrollbar {
  height: 10px;
}

.mobile-table-scroll::-webkit-scrollbar-thumb {
  background: #f59e0b;
  border-radius: 999px;
}

.mobile-table-scroll::-webkit-scrollbar-track {
  background: #e5e7eb;
}